<div class="catalog-section">
  <img src="img/product-item.jpg" alt="" class="catalog-section__img">
  <a href="#" class="catalog-section__title">Пиломатериалы строганые</a>
  <ul class="catalog-section__list">
    <li>Доска строганая</li>
    <li>Дюймовка строганая</li>
    <li>Имитация бруса</li>
    <li>Планкен</li>
    <li>Террасная доска</li>
    <li>Палубная доска</li>
    <li>Имитация бревна</li>
    <li>Строганые брусок и рейка</li>
    <li>Скандинавская доска</li>
    <li>Брус строганый</li>
  </ul>
</div>