<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <a href="/" class="footer-logo"></a>
      <div class="footer-time">Время работы<br> с 9:00 до 17:30 пн-пт</div>
    </div>
    <ul class="footer-contact">
      <li><img src="img/svg/phone.svg" alt=""><p><a href="tel:+79123456780">+7 (912) 345-67-80</a></p></li>
      <li><img src="img/svg/email.svg" alt=""><p><a href="mailto:Mail@mail.ru">Mail@mail.ru</a></p></li>
      <li><img src="img/svg/pin.svg" alt=""><p>Ленинградская область, Гатчинский р-н, Новосветское сельское поселение, пос. Новый Свет, 113В</p></li>
    </ul>
    <ul class="footer-nav">
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Прайс-лист</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <ul class="footer-nav">
      <li><a href="#">Карта сайта</a></li>
      <li><a href="#">Договор оферты</a></li>
      <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
    <div class="footer-copyright">
      <a href="https://evorate.ru/" target="_blank"><span>Evorate</span><br>Разработка и продвижение сайтов</a>
    </div>
  </div>
</footer>