<header class="header{% if header_white %} header-white{% endif %}">
  <div class="container">
    <a href="/" class="header-logo"></a>
    <ul class="header-nav">
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Прайс-лист</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <a href="tel:+7-123-456-78-90" class="header-phone">+7-123-456-78-90</a>
    <div class="header-buttons">
      <a href="#" class="header-buttons__item header-buttons__search"></a>
      <a href="#" class="header-buttons__item header-buttons__wishlist"></a>
      <a href="#" class="header-buttons__item header-buttons__cart"></a>
    </div>
  </div>
</header>