<header class="header{% if header_white %} header-white{% endif %}">
  <div class="container">
    <a href="/" class="header-logo"></a>
    <ul class="header-nav">
      <li class="js-catalog"><a href="#"><span class="header-catalog__icon"></span>Каталог</a></li>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Прайс-лист</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <a href="tel:+7-123-456-78-90" class="header-phone">+7-123-456-78-90</a>
    <div class="header-buttons">
      <a href="#" class="header-buttons__item header-buttons__search"></a>
      <a href="#" class="header-buttons__item header-buttons__wishlist"></a>
      <a href="#" class="header-buttons__item header-buttons__cart"></a>
    </div>
    <div class="header-catalog">
      <div class="header-catalog__row">
        <ul class="header-catalog__main">
          <li data-menu="1"><a href="#">Пиломатериалы строганые</a></li>
          <li data-menu="2"><a href="#">Пиломатериалы сухие</a></li>
          <li data-menu="3"><a href="#">Пиломатериалы естественной влажности</a></li>
        </ul>
        <ul class="header-catalog__sub" data-menu="1">
          <li><a href="#">Доска строганая</a></li>
          <li><a href="#">Дюймовка строганая</a></li>
          <li><a href="#">Имитация бруса</a></li>
        </ul>
        <ul class="header-catalog__sub" data-menu="2">
          <li><a href="#">Планкен</a></li>
          <li><a href="#">Террасная доска</a></li>
          <li><a href="#">Палубная доска</a></li>
          <li><a href="#">Имитация бревна</a></li>
        </ul>
        <ul class="header-catalog__sub" data-menu="3">
          <li><a href="#">Строганые брусок и рейка</a></li>
          <li><a href="#">Скандинавская доска</a></li>
          <li><a href="#">Брус строганый</a></li>
        </ul>
      </div>
    </div>
    <div class="header-cart">
      <div class="header-cart__item">
        <div class="header-cart__name">
          <h3>Имитация (имитатор) бруса</h3>
          <h4>Карельский профиль</h4>
        </div>
        <div class="header-cart__total">
          <h3>129 шт.</h3>
          <h4>12 956 ₽</h4>
        </div>
      </div>
      <div class="header-cart__item">
        <div class="header-cart__name">
          <h3>Имитация (имитатор) бруса</h3>
          <h4>Карельский профиль</h4>
        </div>
        <div class="header-cart__total">
          <h3>129 шт.</h3>
          <h4>12 956 ₽</h4>
        </div>
      </div>
      <div class="header-cart__item">
        <div class="header-cart__name">
          <h3>Имитация (имитатор) бруса</h3>
          <h4>Карельский профиль</h4>
        </div>
        <div class="header-cart__total">
          <h3>129 шт.</h3>
          <h4>12 956 ₽</h4>
        </div>
      </div>
    </div>
  </div>
</header>