<div class="order-item">
  <div class="order-item__left">
    <div class="catalog-item__size">20<span>х</span>195<span>х</span>3050</div>
    <a href="#" class="catalog-item__title">Имитация (имитатор) бруса</a>
    <div class="catalog-item__subtitle">Карельский профиль</div>
    <ul class="catalog-item__price">
      <li>
        <b><span class="triplets">3229</span>₽</b>
        <p>за м.кв</p>
      </li>
      <li>
        <b><span class="triplets">30229</span>₽</b>
        <p>за м.куб.</p>
      </li>
      <li>
        <b><span class="triplets">129</span>₽</b>
        <p>за шт.</p>
      </li>
    </ul>
  </div>
  <div class="order-item__calc">
    <div class="catalog-item__calc">
      <h4>Посчитать, сколько нужно:</h4>
      <label class="catalog-item__calc-label">
        <input type="number" placeholder="?" />
        <p>м.кв.</p>
      </label>
      <div class="catalog-item__calc-equals">=</div>
      <label class="catalog-item__calc-label">
        <input type="number" placeholder="?" />
        <p>м.куб.</p>
      </label>
      <div class="catalog-item__calc-equals">=</div>
      <label class="catalog-item__calc-label">
        <input type="number" placeholder="?" />
        <p>пог.м.</p>
      </label>
      <div class="catalog-item__calc-equals">=</div>
      <label class="catalog-item__calc-label">
        <input type="number" placeholder="?" />
        <p>шт.</p>
      </label>
    </div>
    <div class="order-item__calc-total">За позицию: <b>12 309 ₽</b></div>
  </div>
  <div class="order-item__delete"></div>
</div>