<div class="popup popup-promo" id="popup-promo-1">
  <div class="promo-item">
    <img src="img/promo-item.jpg" alt="">
    <h3 class="title-md">Получи индивидуальное<br> предложение</h3>
    <h2 class="title-lg">при заказе от 500 000 р.</h2>
    <h4 class="title-sm">c 02.02.2022 по 02.03.2022</h4>
  </div>
  <div class="popup-promo__text">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero magnam a itaque atque earum porro beatae optio molestias tempore alias officia omnis, vel corrupti similique voluptate ut laudantium ipsa dolores.</p>
    <p>Excepturi ratione, laudantium dolores earum quia doloribus nisi eligendi suscipit, sed labore explicabo? Reiciendis blanditiis dolore molestiae inventore eum id voluptatibus, placeat rerum non tempora veniam aspernatur pariatur omnis nulla.</p>
  </div>
  <h2 class="title-lg popup-promo__special">Специальное предложение:</h2>
  <div class="special-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
    </div>
    <div class="control special-control">
      <div class="control-arrow special-prev"></div>
      <div class="control-count special-count"></div>
      <div class="control-arrow special-next"></div>
    </div>
  </div>
</div>