<div class="promo-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">{% include 'components/promo-item.html' %}</div>
    <div class="swiper-slide">{% include 'components/promo-item.html' %}</div>
    <div class="swiper-slide">{% include 'components/promo-item.html' %}</div>
    <div class="swiper-slide">{% include 'components/promo-item.html' %}</div>
  </div>
  <div class="control promo-control">
    <div class="control-arrow promo-prev"></div>
    <div class="control-count promo-count"></div>
    <div class="control-arrow promo-next"></div>
  </div>
</div>