{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}
{% set header_white = true %}

{% block content %}

<section class="hero">
  <div class="container">
    <h1 class="hero-title">Пиломатериалы напрямую от производителя</h1>
    <div class="btn-wrap"><a href="#" class="btn btn-green btn-hero"><p>Смотреть каталог</p></a></div>
    <div class="hero-consult">
      <h3 class="title-md">Оставьте заявку и наши консультанты помогут вам определиться с выбором</h3>
      <form action="#" class="hero-consult__form">
        <label class="hero-consult__file"><input type="file"/></label>
        <input type="email" class="hero-consult__input" placeholder="e-mail" />
        <p class="hero-consult__or">либо</p>
        <input type="tel" class="hero-consult__input masked" placeholder="+7 (___) ___-__-__" />
        <button class="btn btn-green btn-consult"><p>Получить расчет</p></button>
      </form>
      <div class="hero-mob">
        <div class="btn-wrap"><a href="javascript:;" data-fancybox="" data-src="#popup-call" class="btn btn-green btn-consult"><p>Получить расчет</p></a></div>
      </div>
    </div>
  </div>
</section>

<section class="promo">
  <div class="container">
    {% include 'components/promo-slider.html' %}
  </div>
</section>

<section class="product">
  <div class="container">
    <h2 class="title-lg">Наша продукция:</h2>
    <div class="product-row">
      {% include 'components/product-item.html' %}
      {% include 'components/product-item.html' %}
      {% include 'components/product-item.html' %}
      {% include 'components/product-item.html' %}
      {% include 'components/product-item.html' %}
      {% include 'components/product-item.html' %}
    </div>
  </div>
</section>

<section class="benefit">
  <div class="container">
    <h2 class="title-lg">Почему стоит выбрать нас?</h2>
    <div class="benefit-row">
      <div class="benefit-item">
        <img src="img/benefit-item-1.jpg" alt="" class="benefit-item__img">
        <div class="benefit-item__text">
          <h3>Мы контролируем качество нашей продукции</h3>
          <p>Дерево - материал капризный, и при долгом хранении имеется большой риск деформации. Мы можем избежать этого благодаря тому, что не храним большие объемы пиломатериалов на складах. </p>
        </div>
      </div>
      <div class="benefit-item">
        <img src="img/benefit-item-2.jpg" alt="" class="benefit-item__img">
        <div class="benefit-item__text">
          <h3>Мы не зависим от поставщиков</h3>
          <p>У нас собственное производство и склады, а это значит, что мы сами устанавливаем условия продажи и доставки и лучше контролируем качество и сроки.</p>
        </div>
      </div>
      <div class="benefit-item">
        <img src="img/benefit-item-3.jpg" alt="" class="benefit-item__img">
        <div class="benefit-item__text">
          <h3>Чего-то не хватило? Мы поможем!</h3>
          <p>Все позиции всегда присутствуют на складе в небольшом количестве. Вы не потеряетен время из-за ошибок в расчетах.</p>
        </div>
      </div>
      <div class="benefit-item">
        <img src="img/benefit-item-4.jpg" alt="" class="benefit-item__img">
        <div class="benefit-item__text">
          <h3>Квалифицированные консультанты</h3>
          <p>Наши специалисты всегда готовы проконсультировать и помочь определиться с выбором и расчетами.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="special">
  <div class="container">
    <h2 class="title-lg">Специальное предложение:</h2>
    <div class="special-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
        <div class="swiper-slide">{% include 'components/catalog-item.html' %}</div>
      </div>
      <div class="control special-control">
        <div class="control-arrow special-prev"></div>
        <div class="control-count special-count"></div>
        <div class="control-arrow special-next"></div>
      </div>
    </div>
  </div>
</section>

<section class="spruce">
  <div class="container">
    <div class="spruce-row">
      <div class="spruce-text">
        <h2 class="title-lg">Пиломатериал из ели имеет и свои неоспоримые преимущества:</h2>
        <ul class="spruce-list">
          <li>Лёгкость, низкая плотность означает слабую теплопроводность;</li>
          <li>Невыпадающие сучки малого диаметра создают интересный рисунок;</li>
          <li>Необычный цвет древесины оригинально выглядит в интерьере, ель может давать светло-розовый или светло-золотой оттенок;</li>
          <li>Однородная текстура, придающая пиломатериалу несравнимую ровность и гладкость;</li>
          <li>Доступность, повсеместная распространённость, низкая цена.</li>
        </ul>
      </div>
      <div class="spruce-img"><img src="img/spruce-img.jpg" alt=""></div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <div class="cta-row">
      <div class="cta-img"><img src="img/cta-img.jpg" alt=""></div>
      <div class="cta-content">
        <h2 class="title-lg">Отправьте нам заявку и&nbsp;получите расчет сегодня!</h2>
        <h3>Наши специалисты помогут вам определиться с выбором и ответят на все ваши вопросы.</h3>
        <form action="#" method="post" class="cta-form">
          <div class="cta-file">
            <h5>Прикрепите проект или другие документы:</h5>
            <label>
              <input type="file" />
              <img src="img/svg/file-black.svg" alt="">
              <p>Прикрепить файл</p>
            </label>
          </div>
          <h4>Пожалуйста, укажите, куда отправить расчет.</h4>
          <input type="text" class="input" placeholder="Имя*" required />
          <input type="email" class="input" placeholder="E-mail*" required />
          <input type="tel" class="input masked" placeholder="Телефон:" />
          <h4>Мы предоставим вам результат в течение 2 часов</h4>
          <button class="btn btn-green"><p>Отправить</p></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="seo">
  <div class="container">Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...</div>
</section>

<section class="help">
  <div class="container">
    <div class="help-block">
      <div class="help-text">
        <h2>Нужна помощь в заказе?</h2>
        <h3>Мы свяжемся с вами и подберем оптимальное решение!</h3>
      </div>
      <a href="javascript:;" data-fancybox="" data-src="#popup-thanks" class="btn btn-green"><p>Помочь подобрать</p></a>
    </div>
  </div>
</section>

{% endblock %}