{% extends 'components/_layout.html' %}
{% set site_title = 'Прайс' %}
{% set header_white = true %}

{% block content %}

<section class="head head-bg" style="background-image:url(img/price-bg.jpg);">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Прайс</a></li>
    </ul>
    <h2 class="title-lg head-title">Прайс</h2>
    <h3 class="title-sm head-subtitle">Описание раздела, описание раздела Описание раздела, описание раздела Описание раздела, описание разделаОписание раздела, описание разделаОписание раздела</h3>
  </div>
</section>

<section class="price">
  <div class="container">
    <div class="price-download"><a href="#"><img src="img/svg/download.svg" alt=""><p>Скачать прайс единым файлом</p></a></div>
    <div class="price-section">
      <h2 class="title-md">Раздел</h2>
      <div class="price-table">
        <div class="price-table__section">Подраздел</div>
        <div class="price-table__content">
          <div class="price-table__row">
            <div class="price-table__col">Наименование</div>
            <div class="price-table__col">Цена за шт.</div>
            <div class="price-table__col">Цена за м.кв.</div>
            <div class="price-table__col">Цена за м.куб</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
        </div>
        <div class="price-table__section">Подраздел</div>
        <div class="price-table__content">
          <div class="price-table__row">
            <div class="price-table__col">Наименование</div>
            <div class="price-table__col">Цена за шт.</div>
            <div class="price-table__col">Цена за м.кв.</div>
            <div class="price-table__col">Цена за м.куб</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="price-section">
      <h2 class="title-md">Раздел</h2>
      <div class="price-table">
        <div class="price-table__section">Подраздел</div>
        <div class="price-table__content">
          <div class="price-table__row">
            <div class="price-table__col">Наименование</div>
            <div class="price-table__col">Цена за шт.</div>
            <div class="price-table__col">Цена за м.кв.</div>
            <div class="price-table__col">Цена за м.куб</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
        </div>
        <div class="price-table__section">Подраздел</div>
        <div class="price-table__content">
          <div class="price-table__row">
            <div class="price-table__col">Наименование</div>
            <div class="price-table__col">Цена за шт.</div>
            <div class="price-table__col">Цена за м.кв.</div>
            <div class="price-table__col">Цена за м.куб</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
          <div class="price-table__row">
            <div class="price-table__col">Имитация (имитатор) бруса - Карельский профил</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
            <div class="price-table__col">1 565 ₽</div>
          </div>
        </div>
      </div>
    </div>
    <div class="price-footer">
      <div class="price-footer__col"></div>
      <div class="price-footer__col"><div class="price-more">Показать всё</div></div>
      <div class="price-footer__col">
        <ul class="pagination">
          <li class="pagination-prev"><a href="#"></a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li>...</li>
          <li><a href="#">10</a></li>
          <li class="pagination-next"><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}